@font-face {
    font-family: "w95a";
    src: url("w95fa.woff") format("woff");
}

* {
    font-family: w95a;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

html {
    background-color: #018281;
    height: 100%;
    min-height: 480px;
}

body {
    background-color: #c3c3c3;
    margin: 5px auto 15px;
    min-width: 640px;
    min-height: 480px;
    width: 50%;
    height: 96%;
    text-align: center;

    display: flex;
    flex-direction: column;
}

aside {
    width: 30%;
    float: left;
}

article {
    border-style: ridge;
    width: calc(70% - 12px);
}

.frame {
    border-style: outset;
    border-color: grey;
}

.inline-frame {
    display: inline-block;
    height: calc(100% - 6px);
}

.block-frame {
    flex: 1;
}

#banner {
    background-color: aliceblue;
    border-width: 3px;
}

#banner img {
    max-width: 100%;
    height: 100%;
}

.navbuttons {
    width: 100%;
}

.navbuttons button {
    width: calc(100% - 1px);
}

.defaultButton {
    text-align: center;
    align-items: center;
    border: 3px;
    padding: 4px;
    float: left;
    border-style: ridge;
    font-size: 14pt;
    background-color: #c3c3c3;
    box-shadow: 1px 1px 0 ;

}

/**
There's got to be a better way to do this
*/
.toggleButton:active {
    background-color: #747474;
    border-style: inset;
    color: black;
    text-shadow: 1px 1px 1px;
}
.activeRadioButton:disabled {
    background-color: #808080;
    border-style: inset;
    color: #c3c3c3;
    font-weight: bold;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: darkgrey;
    border-right-color: darkgrey;
    text-shadow: 0 0 0;
}

.motd {
    text-align: left;
    padding: 5px 15px 5px;
    border-style: dotted;
    border-width: 3px 0;
    border-color: #808080;
    display: inline-block;
    margin: 5px 0;
    height: 25%;
    font-size: 1pt;
}

.articleContent {
    font-size: 12pt;
    display: none;
}

.contentDisplayed {
    display: inline;
}

.blinkies {
padding: 5px;
}

.blinkies .gif {
    width:48%;
}

.stamps {
    border-style: dotted;
    border-width: 3px 0 0 0;
    border-color: #808080;
}

.stamps .gif {
    width: 40%;
}

.gif {
    display: table-cell;
    padding: 1%;
}